@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,500);
/*
Author: webthemez.com
Author URL: http://webthemez.com
*/
/*************************
*******Typography******
**************************/
:root {
  --secondary: linear-gradient(#901d78 ,#e740c2);
  --secondary-dark: #901d78;
  --primary-dark: #fcd0f4bb ;
  --white: #fff;
  --black:#000;
}

.logo {
  width: 75px;
  height: 75px;
  margin-top: -10px;
}

p {
  font-size: 16px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: var(--white);
}
.navbar-header{
  width:50%;
}

::-webkit-scrollbar {
  display: none;
}

.yellow-section {
  background-color: var(--secondary) !important;
}

.diagonal {
  --skew-angle: -5deg;
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  background: var(--secondary);
  position: absolute;
  inset: 0;
  transform: skewY(var(--skew-angle));
  z-index: -1;
  -webkit-transform: skewY(var(--skew-angle));
  -moz-transform: skewY(var(--skew-angle));
  -ms-transform: skewY(var(--skew-angle));
  -o-transform: skewY(var(--skew-angle));
}

.carousel-img {
  width: 100px;
  height: 100px;
animation: scroll 10s linear infinite;
}

.slide-track {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow: hidden;
    
}

.slider {
  background-color: var(--secondary);
  padding: 1em 2em;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}
.services-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  row-gap: 3rem;
  flex-wrap: wrap;
  margin: 0 10%;
}
.services-div div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.product-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5%;
}
.service-box:hover .product-img {
  transform: scale(1.1);
  opacity: 0.5;
}
.media-heading {
  font-size: 20px;
  max-width: 150px;
}
.certificate-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.certificate-img {
  width: 350px;
  height: 350px;
}
.certificate-img:hover {
  width: 360px;
  height: 360px;
  transition: 1s ease-in-out;
}
/***********************/



body {
  padding-top: 100px;
  background: var(--white);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #282828;
  line-height: 26px;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

a {
  color: var(--secondary);
  -webkit-transition: color 400ms, background-color 400ms;
  -moz-transition: color 400ms, background-color 400ms;
  -o-transition: color 400ms, background-color 400ms;
  transition: color 400ms, background-color 400ms;
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--secondary);
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid var(--white);
}

.gradiant {
  background-image: -moz-linear-gradient(
    90deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
}

.gradiant-horizontal {
  background-image: -moz-linear-gradient(
    4deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
  background-image: -webkit-linear-gradient(
    4deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
  background-image: -ms-linear-gradient(
    4deg,
    var(--primary-dark) 0%,
    var(--secondary) 100%
  );
}

.section-header {
  margin-bottom: 50px;
}
.section-header .imp-div{
  background:var(--primary-dark);
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(2px);
}
.section-header  p {
  text-align: center;
  color: var(--black);
}.section-header .imp-div p {
  text-align: center;
  color: var(--black);
}
.section-header  .imp-div p span{
  color:var(--white)
}
.section-header ul li{
  color: var(--primary-dark) !important;
  font-size: 17px;
}

.section-header .section-title {
  font-size: 44px;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;

  display: block;
  text-align: center;
  color: var(--white);
}

.section-header .section-title:before {
  content: "-----< o >----";
  position: absolute;
  width: 140px;
  bottom: 4px;
  right: 0;
  width: 100px;
  color: var(--white);
  margin: 0 auto;
  left: 0;
  right: 0;
  height: 8px;
  font-size: 15px;
  font-weight: bolder;
}

.btn {
  border-width: 0;
  border-radius: 0;
}

.btn.btn-primary {
  background: var(--secondary);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: var(--secondary);
}

.listarrow {
  padding: 0px;
}

.listarrow li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.listarrow li i {
  padding-right: 17px;
  color: var(--secondary);
  /* font-size: 16px; */
}

.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #696969;
  margin-bottom: 15px;
  position: relative;
  color: var(--white);
}

.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
}

ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

ul.nostyle i {
  color: var(--secondary);
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.navbar-toggle {
  border-radius: 0;
}

.navbar-nav > li > a {
  text-transform: uppercase;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*************************
*******Header******
**************************/
#main-nav.navbar-default {
  background: var(--white);
  /* padding: 10px 0; */
}

#main-nav.navbar-default .navbar-nav > li.active > a,
#main-nav.navbar-default .navbar-nav > li.open > a,
#main-nav.navbar-default .navbar-nav > li:hover > a {
  background: var(--secondary);
  color: #3a3a3a;
  /* font-weight: bold; */
}

.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}

.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}

.navbar.navbar-default .navbar-brand {
  height: auto;
  padding: 15px 15px 1px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: var(--secondary);

  background: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: var(--white);
  font-weight: 600;
}

#main-nav.navbar-default {
  background: var(--primary-dark);
  box-shadow: 0px 1px 2px rgba(40, 40, 40, 0.6);
}

.navbar-nav > li {
}

#main-nav.navbar-default .navbar-nav > li > a {
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 4px solid transparent;
}

@media only screen and (min-width: 768px) {
  #main-nav.navbar-default {
  }

  #main-nav.navbar-default .navbar-nav > li > a {
  }

  .navbar-default .navbar-nav > li > a {
    color: var(--secondary);
  }

  #main-nav.navbar-default .navbar-nav > li.active > a,
  #main-nav.navbar-default .navbar-nav > li.open > a,
  #main-nav.navbar-default .navbar-nav > li:hover > a {
    background: var(--secondary);
    color: #3d3737;
    border-top: 4px solid var(--secondary-dark);
  }

  #main-nav.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: rgba(26, 28, 40, 0.9);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }

  #main-nav.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }

  #main-nav.navbar-default .dropdown-menu > li > a {
    padding: 15px 0;
    color: #a8a8a8;
  }

  #main-nav.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }

  #main-nav.navbar-default .dropdown-menu > li.active,
  #main-nav.navbar-default .dropdown-menu > li.open,
  #main-nav.navbar-default .dropdown-menu > li:hover {
    border-left-color: var(--secondary);
  }

  #main-nav.navbar-default .dropdown-menu > li.active > a,
  #main-nav.navbar-default .dropdown-menu > li.open > a,
  #main-nav.navbar-default .dropdown-menu > li:hover > a {
    color: var(--secondary);
    background-color: transparent;
  }
}

.yellow-container h2,
.yellow-container p {
  color: var(--white) !important;
}

#features h2 {
  color: #c3c3c3;
}

#features {
  padding: 10px 0;
  background: var(--white);
  color: #000;
}

#features .media.service-box:first-child {
  margin-top: 80px;
}

#services,
#features {
  padding: 100px 0 75px;
  background: var(--secondary);
}

.demo-2 {
  /* margin-top: 88px;
  margin-bottom: 10px; */
}

.features .media.service-box .pull-left > i {
  color: rgba(255, 255, 255, 0.68);
  font-size: 64px;
  margin-top: 10px;
  overflow: hidden;
}

#portfolio {
  padding: 100px 0;
  background: var(--white);
  background-size: cover;
}

#testimonial {
  background: #222222;
  background-size: cover;
  padding: 100px 0;
  color: var(--white);
  background: url("../images/img2.jpg");
  background-size: cover;
}

#testimonial h2,
#testimonial p {
  color: var(--white);
}

#testimonial h4 {
  color: var(--white);
  margin-bottom: 8px;
}

#testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
}

#testimonial .btns {
  margin-top: 10px;
}

#carousel-testimonial a.btn.btn-primary.btn-sm {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0 8px;
}

.black-container {
  padding: 100px 0;
  background: var(--black);
  /* background: url('../images/img2.jpg'); */
  background-size: cover;
}

.black-container .column-title {
  color: var(--white);
}

.black-container p {
  color: var(--white);
}

.black-container h2,
.black-container h3 {
  color: var(--white);
}

.black-container .listarrow li {
  color: var(--white);
}

/*Testimonial Area*/

.testimonial-area {
  padding-bottom: 60px;
}

.single-testimonial {
  margin-bottom: 30px;
}

.single-testimonial blockquote {
  padding: 15px 20px;
  margin-bottom: 22px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  background: rgba(66, 66, 66, 0.39);
  color: #d8d8d8;
  line-height: 22px;

  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.39);
}

.single-testimonial blockquote:after {
  content: "";
}

.single-testimonial img {
  border-radius: 50%;
  opacity: 0.6;
}

.single-testimonial h5 {
  padding: 8px 0 0px;
  font-size: 16px;
  color: var(--secondary);
}

.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}

.nav.main-tab > li > a {
  color: #272727;
}

.nav.main-tab > li.active > a {
  background: #222534;
  color: var(--secondary);
}

.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}

.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}

.navbar-nav {
  margin: 0;
}

.yellow-container {
  padding: 100px 0 70px;
  background: #000;
}

.yellow-container ul.yellow-container {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  padding: 8px;
  text-align: center;
  background: var(--white);
  color: #5a5a5a;
}

.yellow-container ul.yellow-container li {
  display: block;
  padding: 10px;
}

.yellow-container ul.yellow-container li.plan-header {
  background: #fefefe;
  padding: 15px 15px 30px;
  color: #f4fbff !important;
  border-bottom: 4px solid var(--secondary);
}

.yellow-container ul.yellow-container li.plan-header .price-duration {
  position: relative;
  margin-top: 15px;
  top: -16px;
  display: inline-block;
  width: 100%;
  height: 85px;
  color: #474747;
}

li.plan-purchase .btn {
  width: 100%;
}

.yellow-container ul.yellow-container li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}

.yellow-container
  ul.yellow-container
  li.plan-header
  .price-duration
  > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}

.yellow-container
  ul.yellow-container
  li.plan-header
  .price-duration
  > span.duration {
  margin-top: 5px;
}

.yellow-container ul.yellow-container li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #5a5a5a;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}

.yellow-container ul.yellow-container.featured {
  background: var(--secondary);
  border: 0;
  color: #3a3a3a;
}

.yellow-container ul.yellow-container.featured li.plan-header .price-duration {
  color: #234259;
}

.yellow-container ul.yellow-container.featured li.plan-header {
  background: transparent;
  border-bottom: 4px solid var(--white);
}

.yellow-container ul.yellow-container.featured li.plan-header .plan-name {
  color: #234259;
}

#contact-us {
  padding: 100px 0 10px;
  background: #000 url("../images/map-image.png") top left no-repeat;
}

#contact-us h1,
#contact-us h2,
#contact-us p{
  color: var(--white);
}

/*Contact*/
.contact-form h1{
color:var(--secondary-dark) !important;
}
.contact-info {
  background: var(--primary-dark);
  padding: 50px;
  margin-bottom: 50px;
  color: var(--black);
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 50px;
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

.contact-info address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 27px;
  font-size: 15px;
}
.contact-info address span{
color: var(--secondary-dark) !important;
}

.contact-info .form-control {
  padding: 12px 12px;
  border-radius: 10px;
  color: var(--white);
  z-index: 1000;
}

input:focus,
textarea:focus {
  background: linear-gradient(to right, var(--primary-dark), var(--secondary-dark));
  border: none;
  color: var(--white);
  z-index: 1000;
}

/***********************
********* Footer ******
************************/
.bold {
  font-weight: 700;
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #0b0b0b;
  background: var(--white);
}

#footer a {
  color: var(--black);
}

#footer a:hover {
  color: var(--secondary);
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
  font-size: 32px;
}

#footer ul > li {
  display: inline-block;

  padding: 3px 0;
  width: 31px;
  text-align: center;
}

/*hero-action-section*/

@media only screen and (min-width: 768px) {
  #footer .social-icons {
    float: right;
  }
}

@media only screen and (max-width: 768px) {
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: var(--primary-dark);
    padding: 10px 0;
  }

  #main-nav.navbar-default {
    background: var(--primary-dark);
    padding: 1px 0 15px;
  }

  #main-nav.navbar-default .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 13px;
    border-top: 4px solid transparent;
  }

  .navbar-default .navbar-nav > li > a {
    color:var(--secondary-dark);
  }
}

.form-control {
  box-shadow: none;
  -webkit-box-shadow: none;
}

@media only screen and (max-width: 480px) {
  #hero-banner h2 {
    margin-top: 161px;
    font-size: 26px;
    line-height: 40px;
    padding: 10px;
  }

  #hero-banner p {
    font-size: 18px;
    padding: 10px;
  }

  #portfolio .portfolio-filter {
    list-style: none;
    padding: 0;
    margin: 0 0 12px;
  }

  #portfolio .portfolio-filter > li a {
    display: block;
    padding: 7px 15px;
    margin: 5px 2px;
  }

  #portfolio .portfolio-item {
    width: 48.9%;
    padding: 8px;
  }

  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info .preview {
    width: 28px;
    height: 24px;
    line-height: 24px;
    margin: 9px auto;
  }

  #portfolio .portfolio-item .portfolio-item-inner .portfolio-info {
    padding: 7px 0 0;
  }
}


.site-header {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background: url(../images/backgrounds/header.jpg) no-repeat center center/cover;
  display: table;
}
.site-header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.site-header .intro {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
  padding: 0 15px;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
}
.site-header .intro h2 {
  margin-top: 0px;
  font-size: 25px;
  font-weight: 300;
}
.site-header .intro h1 {
  margin-top: 0px;
  font-size: 30px;
}
.site-header .intro p {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .navbar-custom {
    background-color: transparent;
    padding-top: 30px;
  }

  .site-branding {
    margin-top: 6px;
    margin-left: 0;
  }
}

.valign-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
