$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: rgba(6, 12, 34, 0.76);
$light-background-color: #f9f7f5;

#faq {
  background-color: $light-background-color;
}#registration-fee {
  background-color: rgba(6, 12, 34, 0.76); /* Set background color for the entire section */
  padding: 60px 0; /* Add some padding for spacing */
}

.card {
  background-color: #fad799; /* Set background color for each card */
  border-radius: 10px; /* Add border radius for card corners */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Add shadow effect to cards */
  margin-bottom: 20px;
  transition: transform 0.3s, background-color 0.3s; /* Add transition for transform and background-color */

  &:hover {
    transform: translateY(-10px) rotate(2deg); /* Add more animation with rotation */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); /* Add more animation with a deeper box-shadow */
    background-color: #fad780; /* Change background color on hover */
  }

  .card-title {
    color: #333; /* Set color for card titles */
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-body {
    padding: 20px; /* Add padding inside each card */
  }

  .card-price {
    color: #007bff; /* Set color for card prices */
    font-size: 24px; /* Increase font size for better readability */
    font-weight: bold;
    margin-bottom: 10px;
  }

  ul {
    list-style-type: none; /* Remove default list style */
    padding-left: 0; /* Remove default padding for lists */
    margin-bottom: 10px;
  }

  li {
    padding: 5px 0; /* Add some vertical spacing between list items */
    color: #666;
  }
}

.section-header {
  margin-bottom: 40px; /* Add margin at the bottom of section headers */
  text-align: center; /* Center align the section header */
}

.section-title {
  color: #ffffff; /* Set color for section titles */
  font-size: 36px; /* Increase font size for better readability */
  font-weight: bold;
  margin-bottom: 20px;
}

.section-description {
  color: #cccccc; /* Set color for section descriptions */
  font-size: 24px; /* Increase font size for better readability */
  font-weight: bold;
}