#mode-of-payment{
  background-color: red !important;
  .row{
    .card {
      background-color: transparent; // Set a transparent background initially
      background-image: linear-gradient(to right, #9cff5f, #68f504); // Set your linear gradient colors
      &:hover {
        background-image: linear-gradient(to right, #ff7e5f, #feb47b); // Change gradient on hover if needed
      }
    }
  }

}